.product-detail {
  background: #fff;
  border-radius: calc(var(--border-radius) * 4);
  padding: var(--spacer-xxl) var(--spacer-xxxl);
  max-width: 480px;
  min-height: 400px;
  margin: auto;
  width: 100%;
  text-align: center;
  animation: enter 200ms forwards ease-in-out;

  &__title {
    font-size: var(--font-size-xl);
    width: 100%;
    margin: 0;
  }

  &__image {
    max-width: 100%;
    margin: var(--spacer-xxl) 0 var(--spacer-xl);
  }

  &__price {
    margin-top: var(--spacer-l);
    justify-content: center;
    zoom: 1.7;
  }

  &__paragraph {
    font-size: var(--font-size-m);
    line-height: 1.5;
  }
}

@keyframes enter {
  0% {
    opacity: 0;
    transform: translateY(5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
