.products {
  max-width: 1440px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: var(--spacer-xs);
  animation: slideIn 600ms forwards ease-in-out;

  @media (max-width: 425px) {
    grid-template-columns: repeat(2, minmax(120px, 1fr));
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
