.wrapper {
  min-height: 100vh;
  background: var(--color-background);
  padding-top: 120px;
  padding-left: var(--spacer-xs);
  padding-right: var(--spacer-xs);
  display: flex;
  flex-direction: column;
}
