.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: var(--color-accent);
  display: flex;
  height: 65px;
  padding: var(--spacer-m);
  margin-bottom: var(--spacer-m);
  box-shadow: var(--box-shadow);
  z-index: 1;

  @media (max-width: 768px) {
    padding-left: 65px;
  }

  &__logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 65px;
    height: 65px;
    z-index: 200;
  }
}
