.header {
  position: sticky;
  top: 0;
  background: var(--color-accent);
  display: flex;
  padding: var(--spacer-m);
  margin-bottom: var(--spacer-m);
  box-shadow: var(--box-shadow);
  z-index: 1;

  ::placeholder {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
  }

  &__input {
    border: none;
    border-radius: var(--border-radius);
    padding: var(--spacer-m);
    max-width: 480px;
    width: 100%;
    margin: auto;
    font-weight: 700;
    color: var(--color-text);
    transition: all 200ms ease;
    background: rgba(255, 180, 180, 0.2);

    &:hover {
      background: rgba(255, 180, 180, 0.4);
    }

    &:focus {
      outline: none;
      max-width: 550px;
      background: #fff;
    }
  }

  &__logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 65px;
    height: 65px;
  }
}
