.dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(14, 14, 14, 0.95);
  z-index: 1;
  transition: all 300ms ease;

  &--open {
    opacity: 1;
    pointer-events: all;
  }

  &__close {
    background: none;
    border: none;
    color: #fff;
    position: absolute;
    cursor: pointer;
    right: 40px;
    top: 40px;
    font-weight: 400;
    font-size: var(--font-size-s);
    padding: var(--spacer-m) var(--spacer-l);
    border-radius: 50px;

    &:focus {
      outline: none;
      background: rgba(255, 255, 255, 0.1);
    }
  }
}
