.search {
  border: none;
  border-radius: 50px;
  padding: var(--spacer-m) var(--spacer-l);
  max-width: 480px;
  width: 100%;
  margin: auto;
  font-size: var(--font-size-s);
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  transition: all 250ms ease;
  background: rgba(255, 180, 180, 0.2);

  &:hover {
    background: rgba(255, 180, 180, 0.4);
  }

  &:focus {
    color: var(--color-text);
    outline: none;
    max-width: 550px;
    background: #fff;
  }
}

::placeholder {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
