::placeholder {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

.search-bar {
  border: none;
  border-radius: var(--border-radius);
  padding: var(--spacer-m);
  vertical-align: baseline;
  max-width: 480px;
  width: 100%;
  margin: auto;
  font-size: 16px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  transition: all 250ms ease;
  background: rgba(255, 180, 180, 0.2);

  &:hover {
    background: rgba(255, 180, 180, 0.4);
  }

  &:focus {
    color: var(--color-text);
    outline: none;
    max-width: 550px;
    background: #fff;
  }
}
