:root {
  --spacer-xs: 3px;
  --spacer-s: 6px;
  --spacer-m: 12px;
  --spacer-l: 20px;
  --spacer-xl: 32px;
  --spacer-xxl: 50px;
  --spacer-xxxl: 80px;

  --border-radius: 8px;
  --box-shadow: 0 0 10px 0 rgba(160, 160, 160, 0.5);

  --color-accent: #e50612;
  --color-text: #222;
  --color-text-light: #acacac;
  --color-background: #f7f7f7;

  --font-size-s: 14px;
  --font-size-m: 18px;
  --font-size-l: 24px;
  --font-size-xl: 32px;
  --font-size-xxl: 50px;
  --font-size-xxxl: 80px;

  --font-family: Nunito, sans-serif;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
  background: var(--color-background);
}

.main {
  flex: 1;
}
